<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAcgtOCLM78gxmascZpl3eKPYoYa0WTSfU</string>
	<key>GCM_SENDER_ID</key>
	<string>613149811880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lisa.lisaAi3</string>
	<key>PROJECT_ID</key>
	<string>lisaai-8a879</string>
	<key>STORAGE_BUCKET</key>
	<string>lisaai-8a879.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613149811880:ios:6daf42b7204a4a247f4e9d</string>
</dict>
</plist>